/* .header {
    background-color: #282c34;
    color: #dee2e6;
}

.modal {
    background-color: #282c34;
} */

/* .search input {
    background-color: #dee2e6;
    border: 0;
    border-radius: 0.25rem;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.search-input {
    margin-top: 108px;
    display: flex;
} */

.data-result {
    margin-top: 5px;
    /* width: 300px; */
    height: 200px;
    border-radius: 0.25rem;
    /* background-color: #dee2e6; */
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}
