#sidebar {
    border: 1px solid;
    border-radius: 16px;
    background-color: #212529;
    color: #cfd8dc;
}

.artist-avatar {
    margin: 10px 25px 10px 0;
    height: 65px;
    width: 65px;
}

.tattoo-img {
    width: 235px;
    height: 350px;
    padding: 0;
    border-radius: 16px;
    object-fit: cover;
}
