.remove-photos {
    margin-left: -1.3rem;
    color: #dc3545;
    cursor: pointer;
}

.remove-cover {
    margin-top: -15.7rem;
    margin-left: -0.7rem;
    color: #dc3545;
    cursor: pointer;
}

.add-photos_cover {
    width: 97%;
    height: 27vh;
    object-fit: cover;
    border-radius: 16px;
}
