footer {
    background-color: "#282c34";
    color: "white";
}

.App {
    text-align: center;
    background-color: #282c34;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App-content {
    min-height: calc(100vh - 137px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}

.tattoo-style-badge {
    border: 1px solid #ffffff30;
    margin-bottom: 3px;
    border-radius: 16px;
    font-size: 10px;
    padding: 7px;
    white-space: nowrap;
}
