footer {
    background-color: "#282c34";
    color: #e0e0e0;
}

button {
    border-radius: 16px !important;
}

input,
textarea {
    background-color: #dee2e6 !important;
    color: #212529 !important;
}

p {
    text-align: start;
}

.App {
    text-align: center;
    background-color: #282c34;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App-content {
    min-height: calc(100vh - 137px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}

.tattoo-style-badge {
    border: 1px solid #ffffff30;
    margin-bottom: 3px;
    border-radius: 16px;
    font-size: 10px;
    padding: 7px;
    white-space: nowrap;
}

.tattoo-style-badge-selected {
    border: 1px solid #ffffff30;
    margin-bottom: 3px;
    border-radius: 16px;
    font-size: 10px;
    padding: 7px;
    white-space: nowrap;
    background-color: #212529;
}

.profile-picture {
    height: 75px;
}

.secondary-color {
    color: #ffffff30;
}

.font-75 {
    font-size: 75%;
}

.font-70 {
    font-size: 70%;
}

.font-65 {
    font-size: 65%;
}

.font-60 {
    font-size: 60%;
}

.font-55 {
    font-size: 55%;
}

.font-50 {
    font-size: 50%;
}

.font-45 {
    font-size: 45%;
}

.fontw-300 {
    font-weight: 300;
}

.dashed-top-border {
    border-top: 1px dashed;
}

.dashed-top-border-secondary {
    border-top: 1px dashed #ffffff30;
}

.solid-bottom-border {
    border-bottom: 1px solid;
}

.solid-bottom-border-secondary {
    border-bottom: 1px solid #ffffff30;
}
