.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.studio-card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #212529;
    flex: 0 0 400px;
    overflow: hidden;
}

.map-card {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 16px;
    background-color: #212529;
    overflow: hidden;
}

.studio-card-img {
    height: 250px;
    width: 100%;
    padding: 0;
    /* border-top-left-radius: 16px; */
    /* border-top-right-radius: 16px; */
    object-fit: cover;
}

.map-img {
    height: 100%;
    width: 100%;
    padding: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.studio-avatar-img {
    margin: 10px 25px 10px 0;
    height: 35px;
    width: 35px;
}
